.after_video {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}
.after_videoss {
    padding-top: 120px;
}
.adobe_after{
    padding-top: 60px;
    font-weight: normal;
    font-size: 38px;
    letter-spacing: 1px;
    color: #202329;
    font-family: 'Montserrat',sans-serif;
}
.adobe_animate{
    padding-top: 100px;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.adobe_animatess {
    padding-top: 100px;
    font-weight: normal;
    font-size: 44px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-bottom: none;
}

.adobe_animatess a :hover{
    color: gray;
}

h5.strong{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    color: #02848a;
    font-family: inherit;
    padding-bottom: 10px;
}
.animate{
    text-align: left;
    font-size: 17px;
    color: white;
    font-family: inherit;
    padding-bottom: 10px;
}
.animatess{
    text-align: left;
    font-size: 18px;
    color: white;
    font-weight: bold;
    letter-spacing: 0;
    font-family: inherit;
    padding-bottom: 10px;
}
#myNavbar ul{
    padding-top: 16px;
}
li{
    line-height: 1.5;
}
.moredetails{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color:  #00969d;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.charwith{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #5fb070;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.phonenumber{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #bfd532;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}

.phonenumberses{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #bfd532;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.enquire{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #e8341b;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.moredetails .charwith .phonenumber .enquire a:hover {
    opacity:0.22;
    background-color: dimgrey;
}
.choose_your{
    height: 2930px;
    background-color: #eaeaea;
    padding-left: 10px;
}

.course_information{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    padding-top: 30px;
    padding-left: 50px;
}

.course_inform{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    padding-left: 50px;
    padding-bottom: 50px;
}
.description{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 26px;
    font-style: normal;
    margin-top: 30px;
    margin-bottom:5px;
}
.course_information_paragraph{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:#8a8b8c;
    font-size: 16px;
    padding-bottom: 15px;
}

.certification_paragraph{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:black;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.certification_para{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:black;
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 20px;
}



.bespoke_para{

}


.course_information_paragraphs{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:#8a8b8c;
    font-size: 15px;
    padding-bottom: 20px;
}
.certification_color{
    background-color: #f4f4f4;
}
.learn{
    text-align: center;
    font-size: 32px;
}
.enquirenow{
    font-size: 24px;
    padding-bottom: 20px;
}

.right{
    margin: 10px;
}
.london{
    font-size: 8px;
}

.work_faster{
    background-color: #2e313a;
    padding-bottom: 20px;
    padding-top: 20px;
}
.course_time{
    background-color: #0c3b4d;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

.assessment{
    color: black;
    max-width: 100%;
    padding: 18px 20px 20px 20px;
    background-color: white;
    border: none;
    font-size: 13px;
    font-family: 'Montserrat',sans-serif;
}
  .assessment a :hover {
    opacity: 0.9;
      color: gray;
}

.still_save {
    color: #008080;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}
.adobe{
    width: 500px;
    height: 350px;
    }
.adobe{
    padding-top: 2.5em;
    max-width: 100%;
    padding-left: 25px;
}
.btnns {
    background-color:#8aa324;
    color: white;
    padding: 6px 6px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.6;

}
.btn a :hover{
 color: #8aa324;
}

.descriptionss{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 18px;
    font-style: normal;
    margin-bottom:10px;
}
.beginner{
    color: #008080;
    font-size: 22px;
    padding-top: 30px;
}
.rate{
    padding-top:50px;
    padding-bottom: 50px;
    color: lightgray;
    font-size: 14px;
}

.star-rating{
    color:  #8aa324;
}
.course_leaves{
    padding-top: 30px;
}
.single_course{
    padding-top: 30px;
    padding-bottom: 30px;
    color: dimgray;
    line-height: 1px;
    font-size: 18px;
}
.yellow{
    font-size: 20px;
}
.package{
    font-size: 16px;
    color: #008080;
    padding-bottom: 1.5em;
}
.packagese{
    font-size: 18px;
    color: #008080;
    line-height: 1.5;
    padding-bottom: 1.5em;
}
.iframe{
    width: 100%;
    height: 380px;
}
.iframeses{
    width: 100%;
    height: 300px;
}
.frank{
    padding-bottom:8.5em;
}
.to_learn{
    text-align: center;
}
.descript{
    padding-top: 50px;
    padding-left: 32px;
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 18px;
    font-style: normal;
    margin-bottom:10px;
}

.common_bg_styless {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.log_form{
    background-color: #202329;
    padding-top: 50px;
    width: 100%;
    height: 730px;
}

.share_with{
    background-color: white;
    width: 100%;
    height: 240px;
}
.enq{
    color: white;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 32px;
    text-align: center;
}

.share{
    color: black;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.input{
    background-color: #383d46;
    color: white;
    border: 0;
}

.images_icon{
    text-align: center;
    padding-bottom: 40px;
}
.twitter{
    padding-bottom: 30px;
}
.more_info{
    font-size: 16px;
    color: #c5d43e;
}
.more_infoa :hover{
    color: white;
}
.unreal_img{
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.unreal_img{
    max-width: 100%;
    width: 350px;
}
.letter_adobe{
    font-size:14px;
}
.adobe_courses{
    font-size: 50px;
}
.bespoke_courses{
    background-color: white;
    width: 100%;
    height: auto;
}

.bespoke_courses{
    font-size: 46px;
    line-height: 1.13;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    color: #202329;
}
.bespoke_bg{
    background-color: #e8e8e8;
}
.search-field{
    padding: 12px 60px 12px 60px;
    font-size: 12px;
}

.photoid_exam{
    font-size: 16px;
    color: red;
}
.get_certified{
    background-color:#4dbeea;
    width: 100%;
    height: 450px;
}
.cups{
    padding-top: 40px;
}
.cup{
    font-size: 30px;
}
.Benefits_yourcoure{

}
.career{
    width: 100%;
    height: auto;
    color: #a1a1a1;
    font-size: 16px;
    font-family: kerla;
    line-height: 1.5;
    background-color: white;
    padding-left: 8%;
    padding-right: 10%;
    padding-bottom: 60px;
}
.career{
   width: 90%;
}

.bespoke{
    background-color: white;
    height: 700px;
}
.process{
    width: 80%;
    line-height: 1.5;
}
.girl_img{
    background-color: white;
    width: 100%;
    padding-bottom: 9.5em;
}
.theprocess{
    width: 100%;
    margin: 25px;
    color: gray;
    font-size: 30px;
    line-height: 2.5;
    padding-bottom: 40px;
    padding-top: 40px;
}

.sid{
   text-indent: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    opacity: 0.9;
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}