@media screen and (max-width: 480px) {
    .professionals h2 {
        padding-bottom: 70px;
        max-width: 100%;
        text-align: center;
        padding-top: 1em;
        font-size: 23px;
    }

    .courses_button {
         margin-left: 0;
    }

    .courses_img {
        text-align: center;
    }

    .lovings {
        padding-top: 20px;
    }

    .form_image {
         padding-bottom: 0;
    }

}

@media screen and (max-width: 640px) {
    .courses_img {
        text-align: center;
    }
    .lovings {
        padding-top: 20px;
    }

    .form_image {
        padding-bottom: 0;
    }

}
@media screen and (max-width: 780px) {
    .lovings {
        padding-top: 20px;
    }
    .form_image {
        padding-bottom: 0;
    }
    .side_menu_toggle{
        padding-top: 30px;
    }
}
@media screen and (max-width: 980px) {
    .lovings {
        padding-top: 20px;
    }
    .form_image {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1024px) {

}